<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="/assets/css/styles.min.css" />
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="" class="navbar-brand">
                                <h1 style="text-align: center; color: #7AB730;" class="m-0"><span class="text-dark">Local</span>ly</h1>
                            </a>
                            <p class="text-center">Your Social Campaigns</p>

                                <div class="mb-3">
                                    <label for="newPassword" class="form-label">새로운 비밀번호</label>
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" aria-describedby="textHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="conformNewPassword" class="form-label">새로운 비밀번호 확인</label>
                                    <input type="password" class="form-control" id="conformNewPassword" aria-describedby="emailHelp">
                                </div>
                                <button id="btn-update" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Modify</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/index.js"></script>
</body>

</html>