* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v63_3685 {
  width: 700px;
  height: 600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v63_3686 {
  width: 429px;
  height: 448px;
  background: url("../images/v63_3686.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 136px;
  overflow: hidden;
}
.v63_3687 {
  width: 429px;
  height: 242px;
  background: url("../images/v63_3687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v63_3688 {
  width: 308px;
  height: 85px;
  background: url("../images/v63_3688.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v63_3689 {
  width: 248px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v63_3690 {
  width: 308px;
  height: 30px;
  background: url("../images/v63_3690.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v63_3691 {
  width: 308px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v63_3692 {
  width: 429px;
  height: 102px;
  background: url("../images/v63_3692.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  overflow: hidden;
}
.v63_3693 {
  width: 429px;
  height: 64px;
  background: url("../images/v63_3693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v63_3695 {
  width: 115px;
  height: 18px;
  background: url("../images/v63_3695.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 0px;
  overflow: hidden;
}
.v63_3696 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v63_3697 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v63_3698 {
  width: 130px;
  color: rgba(180,180,180,1);
  position: absolute;
  top: 370px;
  left: 148px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v63_3699 {
  width: 224px;
  height: 41px;
  background: url("../images/v63_3699.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 407px;
  left: 102px;
  overflow: hidden;
}
.v63_3700 {
  width: 224px;
  height: 41px;
  background: url("../images/v63_3700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v63_3705 {
  width: 429px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 375px;
  left: 135px;
  overflow: hidden;
}
.v63_3706 {
  width: 429px;
  height: 53px;
  background: url("../images/v63_3706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v63_3707 {
  width: 429px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(113,113,113,1);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v63_3708 {
  width: 79px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 14px;
  left: 175px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
