<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="./css/main.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div th:text="${travelDetailResponseDto.title}"></div>
    <div th:text="${travelDetailResponseDto.content}"></div>
    <div th:text="${travelDetailResponseDto.price}"></div>
    <form method="post" action="/reserve" th:each="availableDates : ${travelDetailResponseDto.availableDateResponseDto}">
        <input type="hidden" th:value="${travelDetailResponseDto.id}">
        <div th:text="${availableDates.id}"></div>
        <div th:text="${availableDates.availableDate}"></div>
        <div th:text="${availableDates.startTime}"></div>
        <div th:text="${availableDates.endTime}"></div>
        <br>
    </form>
</body>
</html>