<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="/assets/css/styles.min.css" />
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <div
          class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
              <a href="" class="navbar-brand">
                <h1 style="text-align: center; color: #7AB730;" class="m-0"><span class="text-dark">Local</span>ly</h1>
              </a>
              <p class="text-center">Your Social Campaigns</p>
              <form method="post", action="/signup" enctype="multipart/form-data" id="form" th:object="${userRegisterRequestDto}">
                <div class="mb-3">
                  <label for="username" class="form-label">Name</label>
                  <input th:field="*{username}" th:errorclass="field-error" type="text" class="form-control" id="username" name="username" aria-describedby="textHelp">
                  <div th:if="${#fields.hasErrors('username')}" class="field-error" th:errors="*{username}">이름 오류</div>
                </div>
                <div class="mb-3">
                  <label for="birth_date" class="form-label">Birth</label>
                  <div class=" birth-input-group">
                    <input th:field="*{yyyy}" th:errorclass="field-error" id="birth_date" name="yyyy" class="birth-input form-control" type="text" placeholder="YYYY" maxlength="4">
                    <input th:field="*{mm}" th:errorclass="field-error" name="mm" class="birth-input form-control" type="text" placeholder="MM" maxlength="2">
                    <input th:field="*{dd}" th:errorclass="field-error" name="dd" class="birth-input form-control" type="text" placeholder="DD" maxlength="2">
                    <div th:if="${#fields.hasErrors('birthDate')}" class="field-error" th:errors="*{birthDate}">생년월일 오류</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="phoneNumber" class="form-label">PhoneNumber</label>
                  <input th:field="*{phoneNumber}" th:errorclass="field-error" id="phoneNumber" name="phoneNumber" type="text" class="form-control" aria-describedby="textHelp">
                  <div th:if="${#fields.hasErrors('phoneNumber')}" class="field-error" th:errors="*{phoneNumber}">전화번호 오류</div>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email Address</label>
                  <input th:field="*{email}" th:errorclass="field-error" type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                  <div th:if="${#fields.hasErrors('email')}" class="field-error" th:errors="*{email}">이메일 오류</div>
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">Password</label>
                  <input th:field="*{password}" th:errorclass="field-error" type="password" class="form-control" id="password" name="password">
                  <div th:if="${#fields.hasErrors('password')}" class="field-error" th:errors="*{password}">비밀번호 오류</div>
                </div>
                <div class="mb-4">
                  <label class="form-label">알게된 경로</label>
                  <select class="form-control" id="discoveryRoute" name="discoveryRoute" onchange="viewEtcText()">
                    <option value="">선택</option>
                    <option value="인터넷 검색">인터넷 검색</option>
                    <option value="홈페이지">홈페이지</option>
                    <option value="소셜 미디어">소셜 미디어</option>
                    <option value="특정 사이트">특정 사이트</option>
                    <option value="기타" id="etcOption">기타</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                <div class="d-flex align-items-center justify-content-center">
                  <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                  <a class="text-primary fw-bold ms-2" href="/loginForm">Sign In</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>