<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>예약 내역</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>예약 내역</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>여행 제목</th>
                <th>예약 상태</th>
                <th>예약 날짜</th>
                <th>시작 시간</th>
                <th>종료 시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reserve : ${reserveList}">
                <td th:text="${reserve.travelTitle}">여행 제목</td>
                <td th:text="${reserve.reserveStatus}">예약 상태</td>
                <td th:text="${#dates.format(reserve.availableDate, 'yyyy-MM-dd')}">예약 날짜</td>
                <td th:text="${reserve.startTime}">시작 시간</td>
                <td th:text="${reserve.endTime}">종료 시간</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
